body {
  background-color: rgb(211, 211, 211);
  text-decoration: none;
  font-family: "Bebas Neue";
}

#header {
  list-style: none;
  color: #2b7de9;
}

.links {
  text-decoration: none;

  color: #2b7de9;
  font-size: 22px;
}

.itemBox {
  background-color: rgb(158, 158, 158);
  display: flex;
  justify-content: space-evenly;
}

.item_delete {
  display: flex;
}

.mainContainerBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.todayBlock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.todayIncome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.links:hover {
  color: #2b7de9af;
  text-decoration: underline;
}

.buttons {
  background-color: #2b7de9;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 10px;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  max-width: 20rem;
}

.buttons:hover {
  background-color: rgb(131, 184, 253);
  cursor: pointer;
}

#todayEarning {
  display: flex;
  justify-content: center;
}

#income {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 24px;
  display: flex;
}

#date_budget {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

#dateTitle {
  color: rgb(59, 59, 59);
}

#hyphen {
  color: rgb(59, 59, 59);
}

#underBudget {
  color: rgb(63, 151, 63);
}

#overBudget {
  color: rgb(170, 0, 0);
}

.allBudgets {
  font-size: 27px;
}

.date_and_budget {
  font-size: 27px;
  display: flex;
  justify-content: center;
}

#dateArray {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-bottom: 15px;
  font-size: 20px;
}

#welcome_statement {
  display: flex;
  margin-left: 1rem;
}

#appDiv {
  /* display: flex; */
}
#signUpDiv {
  margin-top: 20px;
}

#budgetArray {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 15px;
}

.spendingsBox {
  display: flex;
  flex-direction: column;
}

.budgetToday {
  display: flex;
  justify-content: center;
}

.itemInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

#item_id {
  margin-right: 1rem;
  display: flex;
  height: 1rem;
  margin-left: 1rem;
}

#amount_id {
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  height: 1rem;
}

#remainingBudget {
  display: flex;
  justify-content: center;
}

.boughtItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#budgetCalc {
  display: flex;
  justify-content: center;
}

#budgetToday {
  display: flex;
  justify-content: center;
}

#recordButton {
  display: flex;
  justify-content: center;
}
