body {
  background-color: rgb(211, 211, 211);
  text-decoration: none;
  font-family: "Comfortaa";
}

#header {
  list-style: none;
  color: #2b7de9;
}

.links {
  text-decoration: none;
  color: #2b7de9;
  font-size: 22px;
}

.links:hover {
  color: #2b7de9af;
  text-decoration: underline;
}

.buttons {
  background-color: #2b7de9;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 10px;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.buttons:hover {
  background-color: rgb(131, 184, 253);
  cursor: pointer;
}

#income {
  font-size: 24px;
}

.label {
  font-size: 24px;
}

#date_budget {
  display: flex;

  /* background-color: red; */
}

.date_and_budget {
  font-size: 27px;
  display: flex;
  margin-left: 35px;
}

#dateArray {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-bottom: 15px;
  font-size: 20px;
}

#budgetArray {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: left;
  padding-bottom: 15px;
}
